.including-address-block {
	margin-bottom: 12px;
	.address-headline {
		@include font($font-bold, 16px);
		text-transform: uppercase;
		color: #333;
		margin-left: 18px;
	}
	.link-view-all {
		margin-left: 18px;
	}
}





// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-1) {

.including-address-block {
	margin-bottom: 24px;
	p,
	.link-view-all {
		display: inline-block;
		margin: 0;
	}
	.link-view-all {
		float: none;
	}
}

}



// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {

.including-address-block {
	max-width: 874px;
	margin-bottom: 36px;
	.address-headline {
		margin-left: 0;
	}
	article {
		display: inline-block;
		&:nth-child(2) {
			float: right;
		}
	}
}

}