.two-banner-block {
	.banner {
		margin-bottom: 12px;
		img {
			width: 100%;
		}
	}	
}

.banner-block {
	.link-view-all {
		margin-left: 18px;
	}
}

// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-1) {


.two-banner-block {
	.banner {
		margin-bottom: 18px;
	}
}


}

// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {


.two-banner-block {
	.banner {
		width: 49%;
		display: inline-block;
		margin-bottom: 36px;
		&:nth-child(2n) {
			float: right;
		}
	}
}


}