.maintenance-table {
	width: 100%;
	margin-bottom: 30px;
	border: $grey-line;
	thead {
		@include font($font-bold, 14px);
	}
	tbody {
		@include font($font-medium, 14px);
	}
	tr {
		height: 37px;
		border: $grey-line;
	}
	td {
		width: 14.2%;
		padding-left: 10px;
		border: $grey-line;
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			display: none;
		}
	}
}


// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-1) {
.maintenance-table {
	td {
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			display: table-cell;
		}
	}
}
}


// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {

}