.scrolling-box {
	display: none;
}

// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-1) {}


// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {

.scrolling-box {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: -130px;
	background-color: $main-blue;
	cursor: pointer;

	@include font($font-light, 36px, 30px);
	color: #fff;
	text-align: center;
	transform: rotate(-90deg);
}


}