$main-bg: #fff;

$black-color: #000000;

// colors

$main-blue: #333554;

$main-red: #b02e34;
$main-red-hover: #8a090e;

$text-blue: #2a2f95;

$uaz-color: #135c2f;
$uaz-color-light: #dff0d8;

$uaz-color-light-text-hover: #516a43;
$uaz-color-light-hover-bg: #f9f9f9; //#dff0d8

$sy-color: #182257;
$geely-color: #0365ad;
$haima-color: #bac2cc;

$color-pick--black: #202020;
$color-pick--green: #305036;
$color-pick--gold: #6f7b3a;
$color-pick--blue: #1f3c71;
$color-pick--yellow: #ccc6b7;
$color-pick--white: #eaeaea;
$color-pick--grey: #928f8a;


$grey-line: 1px solid #adadad;

$breakpoint-0: 320px;
$breakpoint-1: 500px;
$breakpoint-2: 960px;
$desktop-width: 1170px;



// fonts

$font-regular: "RobotoRegular";
$font-light: "RobotoLight";
$font-medium: "RobotoMedium";
$font-bold: "RobotoBold";
