.parts-content-block {
	h3 {
		margin-left: 18px;
	}
}

.interactive-parts-page {
	width: 100%;
	background-color: #ccc;
	height: 500px;
}

// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-1) {}


// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {

.parts-content-block {
	h3 {
		margin-left: 0;
	}
}

.content-block-with-nav {
	.parts-nav-column {
		a {
			margin-bottom: 12px;
		}
	}
}


}