.used-cars__nav-column {
	padding-left: 18px;
	padding-right: 18px;
}

.used-cars__complectation-link {
	color: $main-blue;
}

// .########..########..########....###....##....##
// .##.....##.##.....##.##.........##.##...##...##.
// .##.....##.##.....##.##........##...##..##..##..
// .########..########..######...##.....##.#####...
// .##.....##.##...##...##.......#########.##..##..
// .##.....##.##....##..##.......##.....##.##...##.
// .########..##.....##.########.##.....##.##....##


@media (min-width: $breakpoint-2) {

.content-block-with-nav {
	.used-cars__nav-column {
		padding-left: 0;
		padding-right: 0;
		a {
			margin-bottom: 10px;
		}
	}
}



}